html {
  font-family: Open Sans, sans-serif;
}

h1 {
  border-bottom: 1px solid #000;
}

.btn {
  background-color: #000;
  color: #fff;
}

section {
  background-color: #fff;
}

body{
  background-color: #f2f2f2;
}

@media only screen and (min-width: 60em) {

  .name {
    display: inline-block;
    width: 48.5%;
  }

  .age {
    display: inline-block;
    width: 48.5%;
    margin-left: 11px;
  }

  .email {
    display: inline-block;
    width: 48.5%;
  }

  .fitness {
    display: inline-block;
    width: 48.5%;
    margin-left: 11px;
  }

}
